.body0 {
  background-image: url('172.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.body1 {
  background-image: url('177.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.body2 {
  background-image: url('10.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
    h1{
        text-align: center;
        font-family:fantasy;
        color: aqua;
        font-size: 45;
        font-style: oblique;
        
    }
echo { 
    font-family:cursive;
        color: aqua;
        font-size: 18;
}
    label { text-align: center;
        font-family:cursive;
        color: aqua;
        font-size: 18;
        align-self: auto;
        margin-left: 720;
        margin-top: 30;
        align-content: center;
    }
    input {
        align-self: center;
       margin-left: 700;
       margin-top: 10;

    }
    .login{
        text-align: center;
        font-family:cursive;
       background-color: aliceblue;
        color: fuchsia;
        font-size: 18;
        align-self: auto;
        margin-left: 730;
        margin-top: 10;
        
    }
button{
        text-align: center;
        font-family:cursive;
       background-color: aliceblue;
        color: fuchsia;
        font-size: 18;
        align-self: auto;
        margin-left: 650;
        margin-top: 10;
    }
    a{
        color: aqua;
        margin-left: 50;
        margin-top: 10;
        
    }
 .a1{
        color: aqua;
         margin-left: 50;
        margin-top: 10;
        
    }